<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>

  <div class="field">
  <%= f.label :name %>
  <br>
  <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <br>
    <%= f.password_field :password %>
  </div>

  <div class="field">
  <%= f.label :height, "Height (inches)" %>
  <br>
  <%= f.number_field :height %>
  </div>

  <div class="field">
  <%= f.label :happiness, "How happy are you on a 1-5 scale?" %>
  <br>
  <%= f.number_field :happiness %>
  </div>

  <div class="field">
    <%= f.label :nausea, "How nauseous are you on a 1-5 scale?" %>
    <br>
    <%= f.number_field :nausea %>
  </div>

  <div class="field">
    <%= f.label :tickets, "How many tickets do you have?" %>
    <br>
    <%= f.number_field :tickets %>
  </div>

<% end %> 