<% if @message %>
  <div>
    <p><%= @message %></p>
  </div>
<% end %>

<% unless @user.admin? %> 
  Height: <%= @user.height %><br>
  Mood: <%= @user.mood %>
  Tickets: <%= @user.tickets %><br>
  Nausea: <%= @user.nausea %><br>
  Happiness: <%= @user.happiness %>
<% end %>

<% if @user.admin? %>
  ADMIN
<% end %>